.card-category {
    display: inline-block;
}

.card {
    transition: transform .2s; /* Animation */
    margin: 0 auto;
}

.card:hover {
    transform: scale(1.02);
    cursor: pointer;
}

.span-footer{
    text-align: justify;
    font-size: 1rem;
    display: flex;
    justify-content: space-between;
}

.fa-edit:hover{
    color: #12a390;
}

.fa-trash-alt:hover{
    color: #c70000;
}